#toast-main {
    position: absolute;
    padding: .5rem;
    top: 5%;
    width: 20%;
    max-width: 700px;
    min-width: 300px;
    z-index: 5;
    border: 2px solid;
    border-radius: 12px;
    transform-origin: right;
    transition: all .35s;
}
#toast-main[data-error=true]{
    border-color: rgb(255, 91, 91);
    background-color: rgb(255, 142, 122);
}
#toast-main[data-error=false]{
    border-color: rgb(52, 238, 52);
    background-color: rgb(109, 255, 109);
}
#toast-main[data-show=true]{
    right: 1rem;
    transform: scaleX(100%);
    opacity: 1;
}
#toast-main[data-show=false]{
    right: 0rem;
    transform: scaleX(0%);
    opacity: 0;
}
#toast-main:hover {
    right: 1rem;
    transform: scaleX(100%);
    opacity: 1;
}
.closeToast {
    border: none;
    margin: 0;
    background-color: transparent;
    float: right;
    color: rgb(130,130,130);
    cursor: pointer;
    user-select: none;
}
.toastContent {
    width: 100%;
    height: 100%;
    padding: 0rem 1rem 1rem 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
}
#toastErrorIcon {
    margin: 0;
    color: red;
    font-size: 2rem;
    font-weight: 500;
    user-select: none;
}
#toastSuccessIcon {
    margin: 0;
    color: rgb(8, 154, 8);
    font-size: 2rem;
    font-weight: 500;
    user-select: none;
}
.toastMessage {
    margin: 0 0 0 1rem;
    color: #fff;
    font-size: 1.15rem;
    font-weight: 700;
    text-align: left;
    user-select: none;
}

@media only screen and (max-width: 768px) {
    #toast-main {
        top: 0;
        left: 0;
        width: 100%;
        max-width: none;
        min-width: none;
        height: 3.5rem;
        border: none;
        border-radius: 0;
        transform-origin: top center;
        transition: all .15s;
    }
    #toast-main[data-show=true]{
        transform: scale(100%, 100%);
    }
    #toast-main[data-show=false]{
        right: 0rem;
        transform: scale(100%, 0%);
    }
    #toast-main:hover {
        transform: none;
    }
    .closeToast {
        display: none;
    }
    .toastContent {
        width: 100%;
        height: 100%;
        padding: 1rem;
    }
}