#main-category-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: .5rem .5rem .5rem 3%;
    gap: 1rem;
}
#main-category-list .category{
    width: 100%;
}
#main-category-list .categoryItemList {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    columns: 4 auto;
    flex-wrap: wrap;
}
#main-category-list h5{
    font-size: 1.15rem;
    font-weight: 500;
    overflow-wrap: anywhere;
}
#items-main-header{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 2% 2% .5rem 2%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2%;
}
#items-main-header h2{
    margin: 0;
    padding: .25rem 0 0 0;
    flex-grow: 1;
    font-size: 1.6rem;
    font-weight: 700;
    overflow-wrap: anywhere;
    max-width: 75%;
}
#items-main-header h2 span{
    color: rgb(249, 161, 9)
}
#search-bar{
    flex-grow: 1;
    padding: .5rem;
}
#search-bar .inputBar{
    width: 100%;
    padding: .75rem;
    border-radius: 12px;
    box-shadow: 0px 2px 12px rgba(0,0,0,0.04);
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}
.inputBar input {
    margin-left: .2rem;
    outline: none;
    border: none;
    font-size: .85rem;
    font-weight: 500;
}

.noItemsErrorDisplay{
    width: 100%;
    height: 50vh;
}
.noItemsErrorDisplay h5{
    text-align: center;
    margin: 3rem 0 0 0;
    font-size: 2.2rem;
    font-weight: 500;
    padding: 0;
}

@media only screen and (max-width: 1000px) {
    #items-main-header h2{
        font-size: 1rem;
    }
    #search-bar{
        max-width: 60%;
    }
}

@media only screen and (max-width: 768px) {
    #items-main-header h2{
        display: none;
    }
    #search-bar{
        max-width: none;
    }
    #main-category-list .categoryItemList {
        gap: .75rem;
        columns: 2 auto;
    }
}