.addItemBox {
    margin: 3rem auto;
    background-color: rgb(128,72,91);
    border-radius: 24px;
    width: 100%;
    padding: 0 1rem 0 .5rem;
    display: flex;
    gap: 2rem;
}
.addOptions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.addOptions p {
    color: white;
    font-weight: 700;
}
#bottle-logo {
    height: 7.18rem;
    margin-top: -1rem;
    transform:scale(1.25)
}
#add-item-button {
    width: 7.5rem;
    height: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.editModeBuffer {
    margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
    .addItemBox {
        max-width: 350px;
    }
    .addOptions p {
        font-size: .85rem;
    }
}

@media only screen and (max-width: 425px) {
    #bottle-logo {
        transform: scale(1.45)
    }
}